
// Variables and mixins
@import '../../node_modules/nord/src/sass/nord.scss';
@import '../../node_modules/nord/src/sass/template-css.scss';
$primary-color: $nord10;
$body-font-color: $nord1;
$link-color: $nord8;
@import '../../node_modules/spectre.css/src/variables.scss';

body {
	background-color: $bg-color !important;
	color: $body-font-color !important;
}

@import '../../node_modules/spectre.css/src/mixins.scss';

/*! Spectre.css v#{$version} | MIT License | github.com/picturepan2/spectre */
// Reset and dependencies
@import "../../node_modules/spectre.css/src/normalize";
@import "../../node_modules/spectre.css/src/base";

// Elements
@import "../../node_modules/spectre.css/src/typography";
@import "../../node_modules/spectre.css/src/buttons";
@import "../../node_modules/spectre.css/src/forms";
@import "../../node_modules/spectre.css/src/media";

// Layout
@import "../../node_modules/spectre.css/src/layout";
@import "../../node_modules/spectre.css/src/hero";
@import "../../node_modules/spectre.css/src/navbar";

// Components
@import "../../node_modules/spectre.css/src/toasts";

// Utility classes
@import "../../node_modules/spectre.css/src/utilities";

#login-box {
	background: #fff;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
	box-shadow: 0 1px 2px rgba(0,0,0,.05);
	border-radius: .1em;
	margin-bottom: var(--space-sm);
	padding: 10px;
}

.form-input {
	background: #fafafa !important;
	border-radius: .2em !important;
	border-color: #dbdde1 !important;
}

.night {
	background-color: $nord0;
	color: $nord6;
	min-height:100vh;
	#login-box {
		background-color: $nord1;
	}
	.form-input {
		color: $nord6 !important;
		background-color: $nord3 !important;
		border-color: $nord0 !important;
	}
	.form-icon {
		border-color: $nord0;
		background-color: $nord3;
	}
}
