
// Variables and mixins
@import '../../node_modules/nord/src/sass/nord.scss';
@import '../../node_modules/nord/src/sass/template-css.scss';
$primary-color: $nord10;
$body-font-color: $nord1;
$link-color: $nord8;
@import '../../node_modules/spectre.css/src/variables.scss';

body {
	background-color: $bg-color !important;
	color: $body-font-color !important;
	a {
		color: darken($nord8, 20%)!important;
	}
}

@import '../../node_modules/spectre.css/src/mixins.scss';

/*! Spectre.css v#{$version} | MIT License | github.com/picturepan2/spectre */
// Reset and dependencies
@import "../../node_modules/spectre.css/src/normalize";
@import "../../node_modules/spectre.css/src/base";

// Elements
@import "../../node_modules/spectre.css/src/typography";
@import "../../node_modules/spectre.css/src/buttons";
@import "../../node_modules/spectre.css/src/forms";
@import "../../node_modules/spectre.css/src/media";

// Layout
@import "../../node_modules/spectre.css/src/layout";
@import "../../node_modules/spectre.css/src/hero";
@import "../../node_modules/spectre.css/src/navbar";

// Components
@import "../../node_modules/spectre.css/src/toasts";
@import "../../node_modules/spectre.css/src/tooltips";

// Utility classes
@import "../../node_modules/spectre.css/src/utilities";

#login-box {
	background: #fff;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
	box-shadow: 0 1px 2px rgba(0,0,0,.05);
	border-radius: .1em;
	margin-bottom: var(--space-sm);
	padding: 10px;
}

.form-input {
	background: #fafafa !important;
	border-radius: .2em !important;
	border-color: #dbdde1 !important;
}
.left {
	background-color: darken($bg-color, 20%);
	display: flex;
	flex-flow: column nowrap;
	min-width: 0;
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	flex-shrink: 0;
	min-height: 0;
	z-index: 10;
	overflow: visible;
	width: 60px;
	// line-height: 60px;
	.icons {
		margin-top: 10px;
		a {
			cursor: pointer;
		}
	}
}
.right {
	margin-left: 60px;
}
#header {
	background-color: darken($bg-color, 20%);
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	min-height: 0;
	overflow: hidden;
	flex-shrink: 0;
	position: fixed;
	left: 60px;
	top: 0;
	right: 0;
	border-bottom: 1px solid #dbdde1;
	input {
		flex: 1 0;
		line-height: 60px;
		padding: 0 16px;
		font-size: 1em;
		border:none;
		border-right: 1px solid #dbdde1;
		background: darken($bg-color, 10%) !important;
	}
	a {
		cursor: pointer;
	}
}
.logo {
	line-height: 60px;
	text-align: center;
	flex-shrink: 0;
	font-size: 2em;
	margin-bottom: 10px;
}
@media only screen and (max-width: 600px) {
	.logo {
		display: none;
	}
	#header {
		position:static;
	}
	.left {
		position: static;
		flex-flow: row nowrap;
		width: 100%;
		.icons {
			margin: 15px;
		}
	}
	.right {
		margin-left: 0;
		padding-left: 0;
		padding-right: 0;
	}
}
.adjust {
	background-color: $body-font-color;
    -webkit-mask: url(../res/adjust.svg) no-repeat center;
    mask: url(../res/adjust.svg) no-repeat center;
}
.search-icon {
	background-color: $body-font-color;
    -webkit-mask: url(../res/search.svg) no-repeat center;
    mask: url(../res/search.svg) no-repeat center;	
}
.night {
	a {
		color: $nord8 !important;
	}
	#header {
		background-color: darken($nord0, 10%);
		border-bottom: 1px solid $nord0 !important;
		input {
			color: $nord6 !important;
			border-right: 1px solid $nord0 !important;
			background-color: $nord3 !important;
		}
	}
	.tooltip {
		&::after {
			background-color: $bg-color;
			color: $nord1; 
		}
	}
	.adjust {
		background-color: $nord6;
	}
	.search-icon {
		background-color: $nord6;	
	}
	background-color: $nord0;
	color: $nord6;
	min-height:100vh;
	#login-box {
		background-color: $nord1;
	}
	.form-input {
		color: $nord6 !important;
		background-color: $nord3 !important;
		border-color: $nord0 !important;
	}
	.form-icon {
		border-color: $nord0;
		background-color: $nord3;
	}
	.left {
		background-color: darken($nord0, 10%);
	}
}
