language: go

node_js:
  - 10

services:
  - docker

before_install:
  - npm i
  - npx parcel build src/*.html --public-url /dist/

script:
  - docker build -t techknowlogick/shiori:latest .
  - go get -t -v ./...
  - go vet $(go list ./... | grep -v /vendor/)
  - make fmt-check
  - go build
  - ./shiori add https://example.com
  - ./shiori print

deploy:
  provider: script
  script: bash docker_push
  on:
    branch: master
